# Finance Data Project 

In this data project we will focus on exploratory data analysis of stock prices. 

We will be using stock data provided by Yahoo Finance.

## Get the Data

In [1]:
pip install yfinance

Requirement already satisfied: yfinance in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2.2.1)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (5.1.0)
Requirement already satisfied: appdirs>=1.4.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.2.2)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:

pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.10.0)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas-datareader) (5.1.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas-datareader) (2.2.1)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
import yfinance as yf
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime as dt

We need to get data using pandas datareader. We will get stock information for the following banks:
*  Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Morgan Stanley
* Wells Fargo

Set each bank to be a separate dataframe, with the variable name for that bank being its ticker symbol.

In [10]:
yf.pdr_override()
start = dt.datetime(2016, 1, 29)
end = dt.datetime.today()
BAC = data.get_data_yahoo('BAC', start, end)
BAC.info()

[*********************100%%**********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [11]:
BAC.head()

             Open   High    Low  Close  Adj Close     Volume
Date
2016-01-29  13.66  14.15  13.59  14.14  11.832550  159984100
2016-02-01  14.05  14.09  13.80  13.96  11.681925  105739400
2016-02-02  13.74  13.75  13.13  13.23  11.071047  147101200
2016-02-03  13.28  13.29  12.52  13.03  10.903689  257664600
2016-02-04  12.89  13.59  12.89  13.25  11.087789  179394400

In [12]:
# CitiGroup
C = data.get_data_yahoo('C', start, end)
 
# Goldman Sachs
GS = data.get_data_yahoo('GS', start, end)
 
# JPMorgan Chase
JPM = data.get_data_yahoo('JPM', start, end)
 
# Morgan Stanley
MS = data.get_data_yahoo('MS', start, end)
 
# Wells Fargo
WF = data.get_data_yahoo('WFC', start, end)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [14]:
C.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [15]:
GS.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [16]:
JPM.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [17]:
MS.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [18]:
WF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB