# Finance Data Project 

In this data project we will focus on exploratory data analysis of stock prices. 

We will be using stock data provided by Yahoo Finance.

## Get the Data

yfinance is a popular open source library developed by Ran Aroussi as a means to access the financial data available on Yahoo Finance.

In [3]:
pip install yfinance

Requirement already satisfied: yfinance in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.2.37)
Requirement already satisfied: pandas>=1.3.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2.2.1)
Requirement already satisfied: numpy>=1.16.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (5.1.0)
Requirement already satisfied: appdirs>=1.4.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.3.0->yfinance) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.31->yfinance) (2024.2.2)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:

pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.10.0)
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas-datareader) (5.1.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas-datareader) (2.2.1)
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from requests>=2.19.0->pandas-datareader) (2024.2.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import yfinance as yf
from pandas_datareader import data
import pandas as pd
import numpy as np
import datetime as dt

We need to get data using pandas datareader. We will get stock information for the following banks:
*  Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Morgan Stanley
* Wells Fargo

Set each bank to be a separate dataframe, with the variable name for that bank being its ticker symbol.

In [6]:
yf.pdr_override()
start = dt.datetime(2016, 1, 29)
end = dt.datetime.today()
BAC = data.get_data_yahoo('BAC', start, end)
BAC.info()

[*********************100%%**********************]  1 of 1 completed

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [7]:
BAC.tail(17)

                 Open       High        Low      Close  Adj Close    Volume
Date
2024-03-05  34.930000  35.720001  34.869999  35.389999  35.389999  47591600
2024-03-06  35.650002  35.790001  35.070000  35.419998  35.419998  49149700
2024-03-07  35.599998  35.900002  35.250000  35.630001  35.630001  35900700
2024-03-08  35.869999  36.130001  35.500000  35.599998  35.599998  42749600
2024-03-11  35.389999  35.930000  35.270000  35.889999  35.889999  34131500
2024-03-12  35.900002  36.150002  35.779999  35.959999  35.959999  29260400
2024-03-13  35.959999  36.450001  35.959999  36.080002  36.080002  38289600
2024-03-14  35.919998  36.220001  35.480000  35.689999  35.689999  40178100
2024-03-15  35.279999  36.009998  35.240002  35.410000  35.410000  69638100
2024-03-18  35.660000  36.090000  35.389999  36.009998  36.009998  50617900
2024-03-19  35.889999  36.389999  35.849998  36.029999  36.029999  46113800
2024-03-20  35.840000  36.880001  35.730000  36.750000  36.750000  40519000
2024-03-21  36.930000  37.599998  36.880001  37.509998  37.509998  43219500
2024-03-22  37.410000  37.610001  37.000000  37.049999  37.049999  28955900
2024-03-25  37.099998  37.279999  36.840000  36.860001  36.860001  30480200
2024-03-26  37.000000  37.240002  36.799999  37.090000  37.090000  33673400
2024-03-27  37.250000  37.849998  37.240002  37.810001  37.810001  36334300

In [8]:
# CitiGroup
C = data.get_data_yahoo('C', start, end)
 
# Goldman Sachs
GS = data.get_data_yahoo('GS', start, end)
 
# JPMorgan Chase
JPM = data.get_data_yahoo('JPM', start, end)
 
# Morgan Stanley
MS = data.get_data_yahoo('MS', start, end)
 
# Wells Fargo
WF = data.get_data_yahoo('WFC', start, end)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [9]:
C.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [10]:
GS.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [11]:
JPM.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [12]:
MS.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [13]:
WF.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2054 entries, 2016-01-29 to 2024-03-27
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       2054 non-null   float64
 1   High       2054 non-null   float64
 2   Low        2054 non-null   float64
 3   Close      2054 non-null   float64
 4   Adj Close  2054 non-null   float64
 5   Volume     2054 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 112.3 KB

In [14]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

** Use pd.concat to concatenate the bank dataframes together to a single data frame called bank_stocks. axis=1, since we are doing column wise concatenation**

In [33]:
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WF],axis=1,keys=tickers)

In [35]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']
bank_stocks.head(5)

Bank Ticker    BAC                ...        WFC
Stock Info    Open   High    Low  ...      Close  Adj Close    Volume
Date                              ...
2016-01-29   13.66  14.15  13.59  ...  50.230000  39.443867  25358300
2016-02-01   14.05  14.09  13.80  ...  49.939999  39.216137  17385400
2016-02-02   13.74  13.75  13.13  ...  48.830002  38.344486  25593200
2016-02-03   13.28  13.29  12.52  ...  47.599998  37.667900  47149700
2016-02-04   12.89  13.59  12.89  ...  48.250000  38.182281  30851700

[5 rows x 36 columns]